<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div id="alinear">
        <div class="centrar fondos">
            <h1>Bienvenid@: <%= usuario.nombre %></h1>
            <h2>Tu saldo corriente es de: <%= usuario.tipoCuenta[0].saldo %></h2>
            <% if (usuario.tipoCuenta[1]) {%>
                <h2>Tu saldo de ahorro es de: <%= usuario.tipoCuenta[1].saldo %> <p> Las cuentas de ahorro tienen un <%= usuario.tipoCuenta[1].interes %> de interes </p> </h2>
            <% } %>
            <p><%= usuario.cooperativas %></p>
            <p> <%= usuario.prestamistas  %> </p>
        </div>
        <div>
            <form method="post" >
                <input type="number" name="valorCorriente" placeholder="Depositar/Retirar Cuenta corriente" class="inputValor">
                <input type="submit" class="boton">
            </form>
            <form method="post" >
                <input type="number" name="valorAhorro" placeholder="Depositar/Retirar Cuenta ahorro" class="inputValor">
                <input type="submit" class="boton">
            </form>
        </div>
        
        <div id="botonesCont">
            <div class="espacio">
                <a href="/cooperativa"><button class="boton">Ver cooperativas</button>
            </div>
            <div class="espacio">
                <a href="/logout"><button class="boton">Cerrar Sesion</button></a>
            </div>
            <div class="espacio">
                <a href="/prestamos"><button class="boton">Ver Prestamos</button></a>
            </div>
            <div>
                <a href="/cuentaAhorro"><button class="boton">Crear Cuenta de ahorro</button></a>
            </div>
        </div>
    </div>
    
   

</body>
</html>