<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div id="alinear">
        <div class="centrar fondos">
            <h1>Bienvenid@: <%= usuario.nombre %></h1>
            <h2>Tu saldo corriente es de: <%= corriente.saldo  %></h2>
            <h3>Tu numero de Cuenta Corriente es: <%= corriente.numero %></h3>
            <% if(ahorro){ %>
                <h2>Tu saldo de ahorro es de: <%= ahorro.saldo  %></h2>
                <h3>Tu numero de cuenta Ahorro es : <%= ahorro.numero %></h3>
                <%  } %>
            <p>La Cedula del titular de esta cuenta es: <%= usuario.cedula %></p>
            <p>El telefono asociado a esta cuenta es: <%= usuario.telefono  %> </p>
            <% if(coop){%>
                <p>Eres Miembro de las cooperativas: <% coop.forEach(cooperativa => { %>
                    <%= cooperativa.id  %>, 
              <%  }) %> Y tus fechas de pago son los: <% coop.forEach(cooperativa => { %>
                <%= cooperativa.fecha  %>,
          <%  }) %>  de cada mes.</p>
          <%  } %>
           <% if(prestamo){ %>
            <p>Haz solicitado los prestamos: <% prestamo.forEach(prestamo => { %>
                <%= prestamo.id  %>, 
          <%  }) %> Y tus fechas de pago son los: <% prestamo.forEach(prestamo => { %>
            <%= prestamo.fecha  %>,
      <%  }) %>  de cada mes. Con un interes de: <% prestamo.forEach(prestamo=>{%>
        <%= prestamo.interes %>
    <%  })%></p>
      <%  } %>
        </div>
        <div>
            <form method="post" >
                <input type="number" name="valorCorriente" placeholder="Depositar/Retirar Cuenta corriente" class="inputValor">
                <input type="submit" class="boton">
            </form>
            <form method="post" >
                <input type="number" name="valorAhorro" placeholder="Depositar/Retirar Cuenta ahorro" class="inputValor">
                <input type="submit" class="boton">
            </form>
        </div>
        
        <div id="botonesCont">
            <div class="espacio">
                <a href="/cooperativas"><button class="boton">Ver cooperativas</button>
            </div>
            <div class="espacio">
                <a href="/logout"><button class="boton">Cerrar Sesion</button></a>
            </div>
            <div class="espacio">
                <a href="/prestamos"><button class="boton">Ver Prestamos</button></a>
            </div>
            <div>
                <a href="/cuenta/Ahorro"><button class="boton">Crear Cuenta de ahorro</button></a>
            </div>
        </div>
    </div>
    
   

</body>
</html>