<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <a href="/prestamos/agregarPrestamo"><button class="boton">Agregar un Prestamo</button></a>
    <div id="centrar">
        <% prestamos.forEach(prestamos => { %>
     
            <div class="fondos">
                <h1>Esta es la cuenta de prestamo Nº <%= prestamos.id  %> </h1>
                <h2>Te ofrecemos un prestamo de: <%= prestamos.prestamo  %> </h2>
                <p>Tan solo tiene un interes de <%= prestamos.interes  %> y debes pagarlo los <%= prestamos.fechaPagos  %> de cada mes. </p>
                <p>El Encargado de este prestamo es <%= prestamos.usuarioResponsable %></p>
                <form method="post">
                    <input type="hidden" value="<%= prestamos.id  %>"  name="prestamo">
                    <input type="submit" value="Unirme a esta prestamos">
                </form>
            </div>
      <%  }); %>
    </div>
    <a href="/Login"><button class="boton">Volver</button></a>

  
</body>
</html>