<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body class="fondoMulti">
    <a href="/Login"><button class="boton">Volver</button></a>
    <div class="centrar-Wrap">
        <% transferecias.forEach(transferencia=>{ %>
            <div class="fondos">
                <p>
                  El usuario de Origen es:  <%= transferencia.usuarioOrigen  %>
                </p>  
                <p>
                   El usuario de Destino es: <%= transferencia.usuarioDestino  %>
                </p> 
                <p>
                 El monto de la Transferencia es: <%= transferencia.monto  %>
                </p> 
                <p>
                 El concepto de la transferencia es: <%= transferencia.concepto  %>
                </p> 
                <p>
                    La cuenta de origen es: <%= transferencia.cuentaOrigen  %>
                </p> 
                <p>
                  La cuetna de destino es: <%= transferencia.cuentaDestino  %>
                </p> 
                <p>
                    La transferencia se realizo el dia: <%= transferencia.fecha  %>
                </p> 
                <p>
                   El numero de operacion es: <%= transferencia.operacion  %>
                </p> 
            </div>
           
         <%   }) %>
    </div>
</body>
</html>